INATURALIST_API_BASE_URL=https://api.inaturalist.org/v1
BIODIVERSITY_CENTER_LAT=19.3525
BIODIVERSITY_CENTER_LNG=-99.2824
BIODIVERSITY_CENTER_LABEL=UAM Cuajimalpa
MAX_OBSERVATIONS_PER_QUERY=1000
NEXT_PUBLIC_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty
NEXT_PUBLIC_SITE_URL=http://localhost:3000
